@{
    ViewBag.Title = "BGA v2 v2 v2 Contacts ..............";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    BGA Home<br />
    Somewher in the World<br />
    <abbr title="Phone">P:</abbr>
    12345678910
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:bernard.b.gava@outlook.com">bernard.b.gava@outlook.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:bernard.b.gava@outlook.com">bernard.b.gava@outlook.com</a>
</address>